/*CSS page*/
/*New Css Project*/
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    /* padding-top: 70px; */
}